body {
  background: #333;
}

sticky-notes-canvas {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 4px solid black;
}

sticky-notes-cluster-topic {
  font-size: 2em;
}

sticky-note {
  font-size: 1.5em;
}